

.conatiner{
   border: 2px solid pink;
   display: inline-block;
   border-radius: 10px;
   padding: 1rem;
   text-align: center;

}

ul li{
   font-family: Arial, Helvetica, sans-serif;
   margin-bottom: 5px;
}

.init {
   padding: 10px;
   font-family: Arial, Helvetica, sans-serif;
   border-radius: 5px;
   background-color: rgb(113, 228, 222);
   font-weight: 900;
   border: none;
}

#but-red{
   padding: 8px 10px;
   background: red;
   color: white;
   font-weight: bold;
   border: none;
   border-radius: 10px;
}
#but-green{
   padding: 8px 10px;
   background: rgb(63, 248, 6);
   color: rgb(0, 0, 0);
   font-weight: bold;
   border: none;
   border-radius: 10px;
   margin-right: 5px;
}

#but-yellow{
   padding: 8px 10px;
   background: rgb(251, 255, 7);
   color: rgb(0, 0, 0);
   font-weight: bold;
   border: none;
   border-radius: 10px;
}

#red{
   padding: 8px 10px;
   background: rgb(194, 104, 104);
   color: white;
   font-weight: bold;
   border: none;
   border-radius: 10px;
}



